
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
   background-color: #FF851B;
   font-family: 'Open Sans', sans-serif;
}

header{
   text-align: center;
   padding: 10px 0;
   h1{
      font-size: 100px;
      font-family: 'Pacifico', cursive;
   }
   &#header-sm{
      h1{font-size: 30px;}
      padding:0;
   }
}

#app{
   margin: 20px;
   position:relative;
}

#chat{
   position:fixed;
   top: 0;
   bottom:-5px;
   left:30px;
   right: 30px;
   display:flex;
   flex-flow: column nowrap;
   overflow:hidden;

   @media(min-width:768px){
      left: 100px;
      right: 100px;
   }
   @media(min-width:992px){
      left: 160px;
      right: 160px;
   }
   @media(min-width:1200px){
      left: 220px;
      right: 220px;
   }

}

#list-pane {
   justify-content: flex-end;
   overflow: scroll;
   flex: 1 0 100px;
   padding-bottom: 1px;
   margin-bottom: 10px;
}

.panel{

   margin-top: 8px;
   margin-bottom: 0px;
   padding: 6px 12px 6px 8px;
   vertical-align: middle;

   .panel-body{
      padding: 0 8px;
      display:flex;
      flex-flow: row nowrap;
      align-items: center;

      h4{
         flex: 0 0 100px;
         margin-right: 30px;
         overflow: hidden;
      }

      span{
         flex: 1 0 100px;
      }

      .badge{
         flex: 0 0 auto;
         margin-left: 10px;
      }

   }
}
