
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html, body{
  margin:0;
  padding:0;
  height:100%;
}

.container-fluid{
     height:100%;
}

body{
   background-color: #FF851B;
   font-family: 'Open Sans', sans-serif;
}

h4{
   font-weight: 600 !important;
   font-size: 16px;
}

header{
   text-align: center;
   padding: 10px 0;
   h1{
      font-size: 100px;
      font-family: 'Pacifico', cursive;
   }
   &#header-sm{
      h1{font-size: 30px;}
      padding:0;
   }
}

#app{
   height: 100%;
   position:relative;
}

#chat{
   height: 100%;

   #chat-col{
      display:flex;
      flex-flow: column nowrap;
      overflow:hidden;
      height: 100%;
   }
}

#list-pane {
   justify-content: flex-end;
   overflow: scroll;
   flex: 1 0 100px;
   padding-bottom: 1px;
   margin-bottom: 10px;
}

#message-form {

}

.panel{

   margin-top: 8px;
   margin-bottom: 0px;
   padding: 6px 12px 6px 8px;
   vertical-align: middle;

   .panel-body{
      padding: 0 8px;
      display:flex;
      flex-flow: row nowrap;
      align-items: center;
      font-size: 14px;

      h4{
         flex: 0 0 100px;
         margin-right: 30px;
         overflow: hidden;
      }

      span{
         flex: 1 0 100px;

      }

      .badge{
         flex: 0 0 auto;
         margin-left: 10px;
      }

   }
}
